.boardView {
}

.boardWrapper {
  background-color: #eeeeee;
  position: relative;
}

.tile-wrapper {
  /* border: thin lightslategrey solid;*/
  position: absolute;
}

.tile-img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.tile-wrapper.selected > img {
  filter: contrast(0.4) brightness(1.5);
}

.tile-wrapper.droptarget > img {
  filter: contrast(0.2) brightness(0.8);
}

.number-overlay {
  position: absolute;
  left: 40%;
  top: 40%;
  font: bold 2.5em "Roboto", sans-serif;
  z-index: 1;
  color: white;
  visibility: hidden;
}

.tile-numbers > .tile-wrapper > .number-overlay {
  visibility: visible;
}
