body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.editor-app {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.editor-main {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

.editorControls {
  flex-grow: 0;
  flex-shrink: 0;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
}
