.tileSelector {
  display: flex;
  flex-flow: column;
}

.tilesWrapper {
  display: flex;
  flex: 1 1;
  flex-flow: row wrap;
}

.unused-tile {
  width: 160px;
  height: 140px;
}

.unused-tile > img {
  pointer-events: none;
  width: 100%;
  height: 100%;
}
