.tile-controls-button {
  position: absolute;
  z-index: 10;
  border-radius: 0.25em;
  padding: 0.5em;
  text-align: center;
  width: 75px;
  background-color: magenta;
  color: white;
}

.tile-controls-button i {
  font-size: 2em;
}

.tileControls {
  width: 0px;
  height: 0px;
  overflow: visible;
  z-index: 5;
}

.clearTiles,
.flipTile {
  display: none;
}
