.tile-controls-button {
  position: absolute;
  z-index: 10;
  border-radius: 0.25em;
  padding: 0.5em;
  text-align: center;
  width: 75px;
  background-color: magenta;
  color: white;
}

.tile-controls-button i {
  font-size: 2em;
}

.tileControls {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: visible;
  z-index: 5;
}

.rotateCCW {
  top: 0px;
  left: -37.4px;
}
.rotateCW {
  top: 0px;
  left: 318px;
}
.resetRotation {
  top: -31.7px;
  left: 150px;
}
.flipTile {
  display: none;
  top: 80%;
  left: 80%;
}
.clearTiles {
  display: none;
  top: 80%;
  left: -5%;
}
