<!DOCTYPE html>
<html lang="en">
  <head>
  <script>
      const map = <% JSON.stringify(map) %>
  </script>
  <%- include('../partials/head'); %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="editor.js" defer></script>
    <link rel="stylesheet" href="editor.css">
  </head>
  <body>
  <header><%- include('../partials/header'); %></header>
    <main id="editor-app"></main>
  </body>
</html>
