<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('../partials/head'); %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
  <header><%- include('../partials/header'); %></header>
    <main id="editor-app"></main>
  </body>
</html>
