<!doctype html>
<html>
  <head>
  <%- include('../partials/head'); %>
  </head>
  <body>
  <header><%- include('../partials/header'); %></header>
    <h2>Hello world</h2>
  </body>
  <footer>
  <%- include('../partials/footer'); %>
  </footer>
</html>
