<!doctype html>
<html>
  <head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="maps.css">
  </head>
  <body>
  <header><%- include('../partials/header'); %></header>
  <main>
    <h1>What is this?</h1>
    <p>
    Welcome to Twilight Emporium, a fan-created website for sharing user-created maps and scenarios for the board game Twilight Imperium IV.
    </p>
  </main>
    <footer> <%- include('../partials/footer'); %></footer>
  </body>
</html>
