<!doctype html>
<html>
  <head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="maps.css">
  </head>
  <body>
  <header><%- include('../partials/header'); %></header>
  <main class="home-page">
    <h1>What is this?</h1>
    <p>
    Welcome to Twilight Emporium, a fan-created website for sharing user-created maps and scenarios for the board game <a href="https://www.fantasyflightgames.com/en/products/twilight-imperium-fourth-edition/">Twilight Imperium IV</a>. Twilight Imperium is an extraordinarily detailed and involved board game set in space involving exploration, combat, trade, and politics. Games have between 3 to 8 players with play times ranging from 5 hours to several days.
    </p>

    <figure>
      <img src="twilight-imperium-game-in-progress.jpg">
      <figcaption>An eight-player game of Twilight Imperium IV in progress.</figcaption>
    </figure>

    <h1> Get started </h1>
    <p>

    </p>

  </main>
    <footer> <%- include('../partials/footer'); %></footer>
  </body>
</html>
